<!doctype html>
<html lang="{{.Site.LanguageCode}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>StepWise Chinese</title>

    {{ $main_css := resources.Get "main.css" | minify -}}
    <link rel="stylesheet" href="{{$main_css.RelPermalink}}">
</head>

<body>
    <header class="container bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark d-flex">
            <a href="{{ relref . `/` }}" class="navbar-brand text-center me-auto">
                <img src="{{`/icon.png` | relURL }}" height="60px" alt="Logo">
            </a>
            <ul class="navbar-nav">
                {{ $currentPage := . -}}
                {{ range .Site.Menus.main -}}
                <li class="nav-item">
                    {{ $active := cond ($currentPage.IsMenuCurrent "main" .) " active" "" -}}
                    <a class="nav-link{{$active}}" href="{{.URL}}">{{.Name}}</a>
                </li>
                {{ end -}}
            </ul>
        </nav>
    </header>

    <div class="container">
        {{block "body" .}}
        <div class="py-3">
            {{.Page.Content}}
            {{end}}
        </div>
    </div>

    <footer class="py-4 page-footer">
        Copyright &copy; Jianjin Software, 2021; All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>