<!doctype html>
<html lang="{{.Site.LanguageCode}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Jianjin Software</title>

    {{ $main_css := resources.Get "main.css" | minify -}}
    <link rel="stylesheet" href="{{$main_css.RelPermalink}}">
</head>

<body>
    <div class="container-fluid">
        <header class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a href="{{ relref . `/` }}" class="navbar-brand text-center">
                        <img src="{{`/White.svg` | relURL }}" width="80" alt="Logo">
                    </a>
                    <ul class="navbar-nav">
                        {{ $currentPage := . -}}
                        {{ range .Site.Menus.main -}}
                        <li class="nav-item">
                            {{ $active := cond ($currentPage.IsMenuCurrent "main" .) " active" "" -}}
                            <a class="nav-link{{$active}}" href="{{.URL}}">{{.Name}}</a>
                        </li>
                        {{ end -}}
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <div class="container-fluid pt-md-3">
        <main class="bg-light">
            {{block "body" .}}
            {{.Page.Content}}
            {{end}}
        </main>
    </div>

    <div class="container-fluid pt-md-5">
        <footer class="footer bg-dark text-white">
            <div class="row">
                <div class="col-12 col-md">
                    Jianjin<small class="d-block mb-3 text-muted">&copy; 2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                </div>
                <div class="col-6 col-md">
                    <h8>Resources</h8>
                </div>
                <div class="col-6 col-md">
                    <h8>Things</h8>
                </div>
                <div class="col-6 col-md">
                    <h8>About</h8>
                    <ul class="list-unstyled">
                        <a class="d-flex align-items-center" href="{{ relref . `/company` }}">Company</a>
                    </ul>
                </div>
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>