{{ define "body" }}
<div class="jumbotron p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <h1 class="display-4 font-italic">{{.Page.Title}}</h1>

    <div class="col-md-12 px-0">
        {{ with .Page.Params.lead }}<p class="lead my-3">{{markdownify .}}</p>{{ end }}
        <div class="mb-3">{{.Page.Content}}</div>
        <!-- <p class="lead mb-0"><a href="{{ relref . `/about/main` }}" class="text-white font-weight-bold">Find out more...</a></p> -->
    </div>
</div>

<div class="row">
    {{ range first 3 (where .Site.RegularPages "Section" "news") }}
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h3 class="card-title"><a href="{{.RelPermalink}}" class="text-dark">{{.Title}}</a></h3>
                <h6 class="card-subtitle text-muted mb-2">{{.Date.Format "2 January, 2006"}}</h6>
                <div class="card-text">
                    <p class="mb-2">{{.Summary}}</p>
                    {{ if .Truncated }}
                        <a href="{{.RelPermalink}}" class="stretched-link">Continue reading...</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<div class="row mb-4">
    <div class="col-md-12 text-center">
        <!-- <a class="btn btn-outline-secondary" href="{{ relref . `/news` }}">Older News...</a> -->
    </div>
</div>
{{ end }}