{{ define "body" }}
      <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light" >
        <div class="col-md-5 mx-auto my-5">
          <h1 class="display-4 fw-normal">Jianjin Software</h1>
          <p class="lead fw-normal">Get better step-by-step with our education software. Great tools built for both students and teachers.</p>
          <a class="btn btn-outline-secondary" href="{{ relref . `/start` }}">Get started</a>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-primary m-3 p-5 text-center align-middle text-white overflow-hidden">
          <h2 class="display-8">Learn live</h2>
          <p class="lead">Live video tuition for 1-2-1 or small class. See vocabulary notes as your teacher enters them, a perfect accompaniment to live video tuition.</p>
        </div>
        <div class="bg-light m-3 p-5 text-center align-middle overflow-hidden">
          <h2 class="display-8">Intelligent note-taking for language study</h2>
          <p class="lead">Automatically looks up translations, pronunciation and example sentences as you build your vocabulary.</p>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-light m-3 p-5 text-center overflow-hidden">
          <h2 class="display-8">Share with other users</h2>
          <p class="lead">Easily share your notes with students, friends and teachers.</p>
        </div>
        <div class="bg-secondary m-3 p-5 text-center text-white overflow-hidden">
          <h2 class="display-8">Get better step-by-step</h2>
          <p class="lead">Review your notes using flashcards and games to lock in your new knowledge.</p>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-primary m-3 p-5 text-center text-white overflow-hidden">
          <h2 class="display-8">Use everywhere</h2>
          <p class="lead">Synchronized contents across different platforms. Pick desktop or mobile when it suits. </p>
        </div>
        <div class="bg-light m-3 p-5 text-center overflow-hidden">
          <h2 class="display-8">Ready-made resources </h2>
          <p class="lead">We've got carefully chosen contents to get your study journey started.</p>
        </div>
      </div>
{{ end }}